USE [master]
GO
/****** Object:  Database [SBSC]    Script Date: 13/10/2015 12:42:09 ******/
CREATE DATABASE [SBSC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SBSC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SBSC.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBSC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SBSC_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBSC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SBSC]
GO
/****** Object:  Table [dbo].[Emprestimo]    Script Date: 13/10/2015 12:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pessoa] [int] NOT NULL,
	[DtEmprestimo] [date] NOT NULL,
	[DtPrevisaoDevolucao] [date] NULL,
	[Status] [tinyint] NOT NULL,
	[DtHrCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_Emprestimo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemEmprestimo]    Script Date: 13/10/2015 12:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemEmprestimo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Emprestimo] [int] NOT NULL,
	[Id_Livro] [int] NOT NULL,
	[DtDevolucao] [date] NOT NULL,
	[DtHrCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_ItemEmprestimo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Livro]    Script Date: 13/10/2015 12:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NULL,
	[Titulo] [nvarchar](250) NOT NULL,
	[Genero] [nvarchar](50) NULL,
	[Autor] [nvarchar](250) NULL,
	[Editora] [nvarchar](50) NULL,
	[Ano] [int] NULL,
	[EstadoConservacao] [tinyint] NOT NULL,
	[Local] [nvarchar](50) NULL,
	[Resumo] [nvarchar](500) NULL,
	[IsBaixado] [bit] NOT NULL CONSTRAINT [DF_Livro_IsBaixado]  DEFAULT ((0)),
	[DtBaixa] [datetime] NULL,
	[DtHrCadastro] [datetime] NOT NULL,
	[DtHrEdicao] [datetime] NULL,
 CONSTRAINT [PK_Livro] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 13/10/2015 12:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [tinyint] NOT NULL,
	[Sexo] [tinyint] NULL,
	[CodigoMatricula] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NULL,
	[Senha] [nvarchar](50) NULL,
	[Nome] [nvarchar](250) NOT NULL,
	[Endereco] [nvarchar](250) NULL,
	[Bairro] [nvarchar](50) NULL,
	[CEP] [nvarchar](10) NULL,
	[Cidade] [nvarchar](150) NULL,
	[UF] [int] NULL,
	[Telefone] [nvarchar](50) NULL,
	[IsSistema] [bit] NOT NULL CONSTRAINT [DF_Pessoa_IsSistema]  DEFAULT ((0)),
	[DtHrCadastro] [datetime] NOT NULL,
	[DtHrEdicao] [datetime] NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 13/10/2015 12:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Pessoa] [int] NOT NULL,
	[Id_Livro] [int] NOT NULL,
	[DtPrevisaoEmprestimo] [date] NULL,
	[Status] [tinyint] NOT NULL,
	[DtHrCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Emprestimo]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimo_Pessoa] FOREIGN KEY([Id_Pessoa])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Emprestimo] CHECK CONSTRAINT [FK_Emprestimo_Pessoa]
GO
ALTER TABLE [dbo].[ItemEmprestimo]  WITH CHECK ADD  CONSTRAINT [FK_ItemEmprestimo_Emprestimo] FOREIGN KEY([Id_Emprestimo])
REFERENCES [dbo].[Emprestimo] ([Id])
GO
ALTER TABLE [dbo].[ItemEmprestimo] CHECK CONSTRAINT [FK_ItemEmprestimo_Emprestimo]
GO
ALTER TABLE [dbo].[ItemEmprestimo]  WITH CHECK ADD  CONSTRAINT [FK_ItemEmprestimo_Livro] FOREIGN KEY([Id_Livro])
REFERENCES [dbo].[Livro] ([Id])
GO
ALTER TABLE [dbo].[ItemEmprestimo] CHECK CONSTRAINT [FK_ItemEmprestimo_Livro]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Livro] FOREIGN KEY([Id_Livro])
REFERENCES [dbo].[Livro] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Livro]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Pessoa] FOREIGN KEY([Id_Pessoa])
REFERENCES [dbo].[Pessoa] ([Id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Pessoa]
GO
USE [master]
GO
