@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "SBSC";
}

<br />

<div class="alert alert-danger" role="alert">
    <strong>Ops!</strong>
    <p>Alguma coisa aconteceu, nós já fomos avisados e já estamos arrumando...</p>
    <a href="#" class="alert-link">Continue seu trabalho</a>
</div>

<br />
